.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1058px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  height: 408px;
  left: auto;
  top: 184px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
  right: 111px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 173px;
  margin: 153px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 5px 124px 0 0;
}

.u-section-1 .u-text-3 {
  margin: -406px 45px 0 180px;
}

.u-section-1 .u-text-4 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-5 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-6 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-7 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-8 {
  margin: 27px 45px 0 180px;
}

.u-section-1 .u-text-9 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-10 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-11 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-12 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-13 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-14 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-15 {
  margin: -1px 45px 0 180px;
}

.u-section-1 .u-text-16 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-17 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 11px auto 0;
  padding: 10px 9px 11px 8px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 11px auto 0;
}
.u-section-1 .u-text-1819 {
  display:inline-block;
  position:relative;
  left: 21%;
  margin: 50px 5px 5px 0px;
}
.spinner {
  width: 70px;
  text-align: center;
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 11px);
  display: block;
}

.spinner > span {
  width: 18px;
  height: 18px;
  background-color: #ccc;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
      -webkit-transform: scale(0);
  }
  40% {
      -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  40% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  font-weight: 700;
  
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  font-weight: 700;
  
}

.u-section-1 .u-text-20 {
  font-size: 0.75rem;
  margin: 4px 154px 0 46px;
}

.u-section-1 .u-text-21 {
  font-size: 0.75rem;
  margin: -19px 46px 0 154px;
}

.u-section-1 .u-text-22 {
  font-size: 0.75rem;
  font-weight: 700;
  width: 85px;
  margin: 4px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1058px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-line-2 {
  height: 84px;
  left: 167px;
  top: 44px;
  transform-origin: center bottom 0px;
  position: absolute;
  width: 3px;
}

.u-section-1 .u-line-3 {
  top: 153px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  width: 735px;
}

.u-section-1 .u-line-4 {
  height: 872px;
  left: 27px;
  top: 174px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
}

.u-section-1 .u-line-5 {
  top: 847px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  width: 735px;
  left: 55px;
}

.u-section-1 .u-group-1 {
  width: 443px;
  min-height: 34px;
  margin: 71px 169px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-23 {
  margin: 0 0 0 3px;
}

.u-section-1 .u-btn-4 {
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  margin: -72px 43px 0 auto;
  padding: 1px 31px 2px 29px;
}

.u-section-1 .u-text-24 {
  margin: 27px 698px 0 53px;
}

.u-section-1 .u-image-1 {
  width: 60px;
  height: 60px;
  margin: -63px auto 0 180px;
}

.u-section-1 .u-text-25 {
  margin: -60px 698px 0 53px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: solid;
  margin: -15px 44px 0 auto;
  padding: 1px 31px 2px 30px;
}

.u-section-1 .u-text-26 {
  font-size: 1rem;
  margin: 84px 428px 0 112px;
}

.u-section-1 .u-group-2 {
  width: 56px;
  min-height: 539px;
  margin: -25px auto 0 756px;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-7 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-8 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-9 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-group-3 {
  width: 56px;
  min-height: 608px;
  margin: -539px auto 0 43px;
}

.u-section-1 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-11 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-12 {
  height: auto;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-image-13 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-14 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-15 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-16 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-17 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-18 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-text-27 {
  font-size: 1rem;
  margin: -538px 428px 0 112px;
}

.u-section-1 .u-text-28 {
  font-size: 1rem;
  margin: 42px 428px 0 112px;
}

.u-section-1 .u-text-29 {
  font-size: 1rem;
  margin: 45px 428px 0 112px;
}

.u-section-1 .u-text-30 {
  font-size: 1rem;
  margin: 42px 428px 0 112px;
}

.u-section-1 .u-text-31 {
  font-size: 1rem;
  margin: 42px 428px 0 112px;
}

.u-section-1 .u-text-32 {
  font-size: 1rem;
  margin: 45px 428px 0 112px;
}

.u-section-1 .u-text-33 {
  font-size: 1rem;
  margin: 45px 428px 0 112px;
}

.u-section-1 .u-text-34 {
  font-size: 1rem;
  margin: 42px 428px 0 112px;
}

.u-section-1 .u-text-35 {
  font-size: 1rem;
  margin: -575px 112px 0 428px;
}

.u-section-1 .u-text-36 {
  font-size: 1rem;
  margin: 45px 112px 0 428px;
}

.u-section-1 .u-text-37 {
  font-size: 1rem;
  margin: 42px 112px 0 428px;
}

.u-section-1 .u-text-38 {
  font-size: 1rem;
  margin: 45px 112px 0 428px;
}

.u-section-1 .u-text-39 {
  font-size: 1rem;
  margin: 42px 113px 0 428px;
}

.u-section-1 .u-text-40 {
  font-size: 1rem;
  margin: 42px 113px 0 428px;
}

.u-section-1 .u-text-41 {
  font-size: 1rem;
  margin: 45px 113px 0 428px;
}

.u-section-1 .u-text-42 {
  font-size: 1rem;
  margin: 45px 113px 0 428px;
}

.u-section-1 .u-text-43 {
  font-size: 0.75rem;
  font-style: italic;
  margin: -484px 428px 0 112px;
}

.u-section-1 .u-text-44 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 120px 428px 0 112px;
}

.u-section-1 .u-text-45 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 50px 428px 0 112px;
}

.u-section-1 .u-text-46 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 48px 428px 0 112px;
}

.u-section-1 .u-text-47 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 48px 428px 0 112px;
}

.u-section-1 .u-text-48 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 51px 428px 0 112px;
}

.u-section-1 .u-text-49 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 51px 428px 0 112px;
}

.u-section-1 .u-text-50 {
  font-size: 0.75rem;
  font-style: italic;
  margin: -70px 428px 0 112px;
}

.u-section-1 .u-text-51 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 51px 428px 0 112px;
}

.u-section-1 .u-text-52 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 29px 428px 0 112px;
}

.u-section-1 .u-text-53 {
  font-size: 0.75rem;
  font-style: italic;
  margin: -568px 112px 0 428px;
}

.u-section-1 .u-text-54 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 119px 113px 0 427px;
}

.u-section-1 .u-text-55 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 51px 113px 0 427px;
}

.u-section-1 .u-text-56 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 48px 113px 0 427px;
}

.u-section-1 .u-text-57 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 48px 113px 0 427px;
}

.u-section-1 .u-text-58 {
  font-weight: 700;
  width: 172px;
  margin: 240px auto 0;
}

.u-section-1 .u-text-59 {
  animation-duration: 1000ms;
  margin: 34px 713px 0 53px;
}

.u-section-1 .u-text-60 {
  animation-duration: 1000ms;
  margin: -126px 425px 0 269px;
}

.u-section-1 .u-text-61 {
  animation-duration: 1000ms;
  margin: -127px 128px 0 566px;
}

.u-section-1 .u-text-62 {
  margin: -125px 666px 0 153px;
}

.u-section-1 .u-text-63 {
  margin: 0 666px 0 153px;
}

.u-section-1 .u-text-64 {
  margin: -1px 666px 0 153px;
}

.u-section-1 .u-text-65 {
  margin: 0 666px 0 153px;
}

.u-section-1 .u-text-66 {
  margin: 0 666px 0 153px;
}

.u-section-1 .u-text-67 {
  margin: -126px 378px 0 441px;
}

.u-section-1 .u-text-68 {
  margin: 0 378px 0 441px;
}

.u-section-1 .u-text-69 {
  margin: -1px 378px 0 441px;
}

.u-section-1 .u-text-70 {
  margin: 0 378px 0 441px;
}

.u-section-1 .u-text-71 {
  margin: 0 378px 0 441px;
}

.u-section-1 .u-text-72 {
  margin: -125px 81px 0 738px;
}

.u-section-1 .u-text-73 {
  margin: 0 81px 0 738px;
}

.u-section-1 .u-text-74 {
  margin: -1px 81px 0 738px;
}

.u-section-1 .u-text-75 {
  margin: 0 81px 0 738px;
}

.u-section-1 .u-text-76 {
  margin: 0 81px 0 738px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 991px;
    margin-right: auto;
    margin-left: -31px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1031px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 87px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 125px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 28px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 142px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 21px;
    margin-left: 142px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1208px;
  }

  .u-section-1 .u-line-3 {
    width: 743px;
  }

  .u-section-1 .u-line-5 {
    transform-origin: right center 0px;
    top: 846px;
    width: 631px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 74px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 8px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 90px;
    margin-left: 176px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -118px;
    margin-right: 165px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 71px;
    margin-right: 639px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 639px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -95px;
    margin-right: auto;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: 451px;
    margin-right: 385px;
    margin-left: 43px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 649px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
  }

  .u-section-1 .u-image-8 {
    height: NaNpx;
  }

  .u-section-1 .u-image-9 {
    height: NaNpx;
  }

  .u-section-1 .u-group-3 {
    margin-top: -827px;
  }

  .u-section-1 .u-image-10 {
    height: NaNpx;
  }

  .u-section-1 .u-image-11 {
    height: NaNpx;
  }

  .u-section-1 .u-image-12 {
    height: NaNpx;
  }

  .u-section-1 .u-image-13 {
    height: NaNpx;
  }

  .u-section-1 .u-image-14 {
    height: NaNpx;
  }

  .u-section-1 .u-image-15 {
    height: NaNpx;
  }

  .u-section-1 .u-image-16 {
    height: NaNpx;
  }

  .u-section-1 .u-image-17 {
    height: NaNpx;
  }

  .u-section-1 .u-image-18 {
    height: NaNpx;
  }

  .u-section-1 .u-text-27 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-top: 241px;
    margin-right: 385px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 339px;
    margin-right: 381px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-35 {
    margin-top: -1069px;
    margin-right: 37px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 37px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 37px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 37px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 38px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 38px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 38px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-42 {
    width: auto;
    margin-top: 144px;
    margin-right: 38px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-43 {
    margin-top: -584px;
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 391px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-49 {
    width: auto;
    margin-top: 161px;
    margin-right: 385px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-50 {
    width: auto;
    margin-top: 15px;
    margin-right: 381px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-51 {
    width: auto;
    margin-top: 350px;
    margin-right: 381px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-52 {
    width: auto;
    margin-right: 381px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-53 {
    margin-top: -1064px;
    margin-right: 37px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 38px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 38px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 38px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 38px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-58 {
    width: auto;
    margin-top: 718px;
    margin-right: 263px;
    margin-left: 309px;
  }

  .u-section-1 .u-text-59 {
    width: auto;
    margin-top: 36px;
    margin-right: 614px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-60 {
    width: auto;
    margin-right: 348px;
    margin-left: 234px;
  }

  .u-section-1 .u-text-61 {
    width: auto;
    margin-top: -125px;
    margin-right: 87px;
    margin-left: 495px;
  }

  .u-section-1 .u-text-62 {
    width: auto;
    margin-top: -126px;
    margin-right: 572px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-63 {
    width: auto;
    margin-right: 572px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-64 {
    width: auto;
    margin-right: 572px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-65 {
    width: auto;
    margin-right: 572px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-66 {
    width: auto;
    margin-right: 572px;
    margin-left: 135px;
  }

  .u-section-1 .u-text-67 {
    width: auto;
    margin-top: -127px;
    margin-right: 299px;
    margin-left: 408px;
  }

  .u-section-1 .u-text-68 {
    width: auto;
    margin-right: 299px;
    margin-left: 408px;
  }

  .u-section-1 .u-text-69 {
    width: auto;
    margin-right: 299px;
    margin-left: 408px;
  }

  .u-section-1 .u-text-70 {
    width: auto;
    margin-right: 299px;
    margin-left: 408px;
  }

  .u-section-1 .u-text-71 {
    width: auto;
    margin-right: 299px;
    margin-left: 408px;
  }

  .u-section-1 .u-text-72 {
    width: auto;
    margin-top: -129px;
    margin-right: 40px;
    margin-left: 667px;
  }

  .u-section-1 .u-text-73 {
    width: auto;
    margin-right: 40px;
    margin-left: 667px;
  }

  .u-section-1 .u-text-74 {
    width: auto;
    margin-right: 40px;
    margin-left: 667px;
  }

  .u-section-1 .u-text-75 {
    width: auto;
    margin-right: 40px;
    margin-left: 667px;
  }

  .u-section-1 .u-text-76 {
    width: auto;
    margin-right: 40px;
    margin-left: 667px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 120px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 120px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 120px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 998px;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
    margin-top: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 97px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 8px;
    margin-left: 94px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -73px;
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 436px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 436px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-left: 484px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-33 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-34 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 1px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 1px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 1px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 1px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-45 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-47 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-48 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-49 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-50 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-51 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-52 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-53 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-54 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-55 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-57 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-58 {
    margin-left: 207px;
    margin-right: 161px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 451px;
    margin-left: 0;
  }

  .u-section-1 .u-text-60 {
    margin-right: 247px;
    margin-left: 132px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 0;
    margin-left: 379px;
  }

  .u-section-1 .u-text-62 {
    margin-right: 471px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 471px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-64 {
    margin-right: 471px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-65 {
    margin-right: 471px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 471px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-67 {
    margin-right: 197px;
    margin-left: 307px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 197px;
    margin-left: 307px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 197px;
    margin-left: 307px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 197px;
    margin-left: 307px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 197px;
    margin-left: 307px;
  }

  .u-section-1 .u-text-72 {
    margin-right: 0;
    margin-left: 504px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 0;
    margin-left: 504px;
  }

  .u-section-1 .u-text-74 {
    margin-right: 0;
    margin-left: 504px;
  }

  .u-section-1 .u-text-75 {
    margin-right: 0;
    margin-left: 504px;
  }

  .u-section-1 .u-text-76 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: 20px;
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1525px;
  }

  .u-section-1 .u-text-65 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-76 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 998px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 25px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-39 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-40 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-41 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-42 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-53 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-54 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-55 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-56 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-57 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-58 {
    margin-left: 107px;
    margin-right: 61px;
  }

  .u-section-1 .u-text-59 {
    margin-right: 251px;
  }

  .u-section-1 .u-text-60 {
    margin-top: 20px;
    margin-right: 251px;
    margin-left: 0;
  }

  .u-section-1 .u-text-61 {
    margin-top: 20px;
    margin-right: 251px;
    margin-left: 0;
  }

  .u-section-1 .u-text-62 {
    margin-right: 304px;
    margin-left: 0;
  }

  .u-section-1 .u-text-63 {
    margin-right: 304px;
    margin-left: 0;
  }

  .u-section-1 .u-text-64 {
    margin-right: 304px;
    margin-left: 0;
  }

  .u-section-1 .u-text-65 {
    margin-top: 0;
    margin-right: 304px;
    margin-left: 0;
  }

  .u-section-1 .u-text-66 {
    margin-right: 304px;
    margin-left: 0;
  }

  .u-section-1 .u-text-67 {
    margin-right: 97px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 97px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-69 {
    margin-right: 97px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-70 {
    margin-right: 97px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 97px;
    margin-left: 207px;
  }

  .u-section-1 .u-text-72 {
    margin-left: 304px;
  }

  .u-section-1 .u-text-73 {
    margin-left: 304px;
  }

  .u-section-1 .u-text-74 {
    margin-left: 304px;
  }

  .u-section-1 .u-text-75 {
    margin-left: 304px;
  }

  .u-section-1 .u-text-76 {
    margin-left: 304px;
  }
}

.targetSelectionDiv {
  margin-top: 40px;
}

.targetSelectionDiv label {
  display: inline-block; 
  width: 70px;
}
.targetSelectionDiv select {
  width: 200px;
}

.targetSelectionDiv p {
  margin-top: 5px;
  margin-bottom: 5px;
}
#typeSelect{
  width: 200px;
}
.u-section-1 .enchant-text {
  color: #1eff00 !important;
}
