.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1014px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 13px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1001px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  height: 376px;
  left: auto;
  top: 184px;
  transform-origin: center bottom 0px;
  position: absolute;
  width: 3px;
  right: 111px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 173px;
  margin: 153px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 5px 124px 0 0;
}

.u-section-1 .u-text-3 {
  margin: -379px 45px 0 180px;
}

.u-section-1 .u-text-4 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-5 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-6 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-7 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-8 {
  margin: 22px 45px 0 180px;
}

.u-section-1 .u-text-9 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-10 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-11 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-12 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-13 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-14 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-15 {
  margin: -1px 45px 0 180px;
}

.u-section-1 .u-text-16 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 137px auto 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 7px auto 0;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 7px auto 0;
  padding: 10px 9px 11px 8px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1001px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-line-2 {
  height: 84px;
  left: 167px;
  top: 44px;
  transform-origin: center bottom 0px;
  position: absolute;
  width: 3px;
}

.u-section-1 .u-line-3 {
  top: 153px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  width: 735px;
}

.u-section-1 .u-line-4 {
  height: 620px;
  left: 27px;
  top: 174px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
}

.u-section-1 .u-line-5 {
  top: 834px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  width: 735px;
  left: 56px;
}

.u-section-1 .u-text-17 {
  margin: 87px 698px 0 53px;
}

.u-section-1 .u-image-1 {
  width: 60px;
  height: 60px;
  margin: -60px auto 0 180px;
}

.u-section-1 .u-text-18 {
  margin: -60px 698px 0 53px;
}

.u-section-1 .u-text-19 {
  margin: -13px 154px 0 251px;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  margin: 79px 428px 0 112px;
}

.u-section-1 .u-group-1 {
  width: 56px;
  min-height: 539px;
  margin: -25px auto 0 756px;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-7 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-8 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-9 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 56px;
  min-height: 608px;
  margin: -539px auto 0 43px;
}

.u-section-1 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-11 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  margin: -142px 0 0;
  padding: 0;
}

.u-section-1 .u-image-12 {
  height: auto;
  margin-top: 129px;
  margin-bottom: 0;
}

.u-section-1 .u-image-13 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-14 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-15 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-16 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-17 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-18 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  margin: -538px 428px 0 112px;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: 42px 428px 0 112px;
}

.u-section-1 .u-text-23 {
  font-size: 1rem;
  margin: 45px 428px 0 112px;
}

.u-section-1 .u-text-24 {
  font-size: 1rem;
  margin: 42px 428px 0 112px;
}

.u-section-1 .u-text-25 {
  font-size: 1rem;
  margin: 42px 428px 0 112px;
}

.u-section-1 .u-text-26 {
  font-size: 1rem;
  margin: 45px 428px 0 112px;
}

.u-section-1 .u-text-27 {
  font-size: 1rem;
  margin: 45px 428px 0 112px;
}

.u-section-1 .u-text-28 {
  font-size: 1rem;
  margin: 42px 428px 0 112px;
}

.u-section-1 .u-text-29 {
  font-size: 1rem;
  margin: -575px 112px 0 428px;
}

.u-section-1 .u-text-30 {
  font-size: 1rem;
  margin: 45px 112px 0 428px;
}

.u-section-1 .u-text-31 {
  font-size: 1rem;
  margin: 42px 112px 0 428px;
}

.u-section-1 .u-text-32 {
  font-size: 1rem;
  margin: 45px 112px 0 428px;
}

.u-section-1 .u-text-33 {
  font-size: 1rem;
  margin: 42px 113px 0 428px;
}

.u-section-1 .u-text-34 {
  font-size: 1rem;
  margin: 42px 113px 0 428px;
}

.u-section-1 .u-text-35 {
  font-size: 1rem;
  margin: 45px 113px 0 428px;
}

.u-section-1 .u-text-36 {
  font-size: 1rem;
  margin: 45px 113px 0 428px;
}

.u-section-1 .u-text-37 {
  font-size: 0.75rem;
  font-style: italic;
  margin: -484px 428px 0 112px;
}

.u-section-1 .u-text-38 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 120px 428px 0 112px;
}

.u-section-1 .u-text-39 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 50px 428px 0 112px;
}

.u-section-1 .u-text-40 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 48px 428px 0 112px;
}

.u-section-1 .u-text-41 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 48px 428px 0 112px;
}

.u-section-1 .u-text-42 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 51px 428px 0 112px;
}

.u-section-1 .u-text-43 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 51px 428px 0 112px;
}

.u-section-1 .u-text-44 {
  font-size: 0.75rem;
  font-style: italic;
  margin: -70px 428px 0 112px;
}

.u-section-1 .u-text-45 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 51px 428px 0 112px;
}

.u-section-1 .u-text-46 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 29px 428px 0 112px;
}

.u-section-1 .u-text-47 {
  font-size: 0.75rem;
  font-style: italic;
  margin: -570px 112px 0 428px;
}

.u-section-1 .u-text-48 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 119px 113px 0 427px;
}

.u-section-1 .u-text-49 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 51px 113px 0 427px;
}

.u-section-1 .u-text-50 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 48px 113px 0 427px;
}

.u-section-1 .u-text-51 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 48px 113px 0 427px;
}

.u-section-1 .u-text-52 {
  font-weight: 700;
  margin: 242px 358px 0 325px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 825px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 74px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 20px;
    margin-left: 155px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 20px;
    margin-left: 155px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 825px;
  }

  .u-section-1 .u-line-3 {
    width: 705px;
  }

  .u-section-1 .u-line-5 {
    width: 705px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 601px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 601px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 79px;
    margin-left: 176px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 649px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
  }

  .u-section-1 .u-image-8 {
    height: NaNpx;
  }

  .u-section-1 .u-image-9 {
    height: NaNpx;
  }

  .u-section-1 .u-image-10 {
    height: NaNpx;
  }

  .u-section-1 .u-image-11 {
    height: NaNpx;
  }

  .u-section-1 .u-image-12 {
    height: NaNpx;
  }

  .u-section-1 .u-image-13 {
    height: NaNpx;
  }

  .u-section-1 .u-image-14 {
    height: NaNpx;
  }

  .u-section-1 .u-image-15 {
    height: NaNpx;
  }

  .u-section-1 .u-image-16 {
    height: NaNpx;
  }

  .u-section-1 .u-image-17 {
    height: NaNpx;
  }

  .u-section-1 .u-image-18 {
    height: NaNpx;
  }

  .u-section-1 .u-text-21 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-text-22 {
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-text-23 {
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-text-24 {
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-text-25 {
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-text-26 {
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-text-27 {
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-text-28 {
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 37px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 37px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 37px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 37px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 38px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 38px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 38px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 38px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 353px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-47 {
    margin-right: 37px;
    margin-left: 353px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 38px;
    margin-left: 352px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 38px;
    margin-left: 352px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 38px;
    margin-left: 352px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 38px;
    margin-left: 352px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 283px;
    margin-left: 250px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 120px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 120px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 436px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 436px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
    margin-right: 436px;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-left: 484px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 1px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 1px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 1px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 1px;
    margin-left: 225px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-38 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-39 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-40 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-41 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-42 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-43 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-44 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-45 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 225px;
    margin-left: 0;
  }

  .u-section-1 .u-text-47 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-48 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-50 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 0;
    margin-left: 225px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 201px;
    margin-left: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 871px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 236px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 236px;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: 20px;
    margin-right: 236px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 236px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
    margin-right: 236px;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-33 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-35 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-36 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-37 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-38 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-43 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-45 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-47 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-49 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-50 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-51 {
    margin-left: 25px;
  }

  .u-section-1 .u-text-52 {
    margin-right: 101px;
    margin-left: 68px;
  }
}
