.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1058px;
  border-right: 2px solid #353535;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  height: 408px;
  left: auto;
  top: 184px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
  right: 111px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 173px;
  margin: 50px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 5px 124px 0 0;
}

.u-section-1 .u-text-3 {
  margin: -410px 45px 0 180px;
}

.u-section-1 .u-text-4 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-5 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-6 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-7 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-8 {
  margin: 27px 45px 0 180px;
}

.u-section-1 .u-text-9 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-10 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-11 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-12 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-13 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-14 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-15 {
  margin: -1px 45px 0 180px;
}

.u-section-1 .u-text-16 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-text-17 {
  margin: 0 45px 0 180px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 38px auto 0;
  width:11.5rem;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 11px auto 0;
  padding: 10px 9px 11px 8px;
  width:11.5rem;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 11px auto 0;
  width:11.5rem;
}
.u-section-1 .u-btn-6 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: 11px auto 0;
  width:11.5rem;
}
.u-section-1 .u-text-1819 {
  display:inline-block;
  position:relative;
  margin: 50px 5px 5px 0px;
}
.table-results {
  color: #ffff;
  width: 100%;
  border: 1px solid #fff;
}
.table-gear {
  color: #ffff;
  width: 100%;
  border-collapse: collapse;
}
td {
  border: none;
}
.colgroup-results {
  color: #ffff;
  border-style: none;
}
.tableheader {
  color: #ffff;
  text-align: right;
  border-bottom: 2px solid #fff;
}
.tablerow1 {
  text-align: right;
  background-color: #2e2e33;
}
.tablerow2 {
  text-align: right;
  background-color: #252529;
}
.chartBox {
  position:relative;
  padding-top: 5%;
  width: 100%;
  border: 1px solid #fff;
}
.positive-result {
  color: #1fed03;
}
.negative-result {
  color: #ff4747;
}
.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  font-weight: 700;
  
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  font-weight: 700;
  height: 1rem;
}

.u-section-1 .u-text-20 {
  font-size: 0.75rem;
  display:inline-block;
  position:relative;
  margin: 0px 15px 0px 0px;
}

.u-section-1 .u-text-21 {
  font-size: 0.75rem;
  display:inline-block;
  position:relative;
}

.u-section-1 .u-text-22 {
  font-size: 0.75rem;
  font-weight: 700;
  width: 85px;
  margin: 0px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1058px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-line-2 {
  height: 84px;
  left: 167px;
  top: 44px;
  transform-origin: center bottom 0px;
  position: absolute;
  width: 3px;
}

.u-section-1 .u-line-3 {
  top: 153px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  left:53% !important;
  width: 100%;
}

.u-section-1 .u-line-4 {
  height: 872px;
  left: 0px;
  top: 174px;
  transform-origin: center top 0px;
  position: absolute;
  width: 3px;
}

.u-section-1 .u-line-5 {
  top: 847px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  width: 100%;
  left: 3%;
}

.u-section-1 .u-group-1 {
  width: 443px;
  min-height: 34px;
  margin: 71px 169px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-23 {
  margin: 0 0 0 3px;
}
.u-section-1 .u-btn-profs {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  background-image: none;
  padding: 1px 15px 2px 15px;
  display:block;
  overflow: visible;
  white-space: pre-wrap;
}
.flex-div {
  display: flex;
  flex-wrap: wrap;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  padding: 1px 31px 2px 29px;
}

.u-section-1 .u-image-1 {
  width: 60px;
  height: 60px;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  padding: 1px 31px 2px 30px;
}

.profiles-section {
  display: flex;
  position: relative;
  top:0px;
  left: 0px;
}

.div-spec-display {
  width: 15%;
}

.div-importexport-display {
  width: 80%;
  margin: 0px 0px 10px 0px;
}

.div-spec-image {
  display: flex;
  justify-content: center;
}

.div-profile-flex {
  width: 100%;
  display:flex;
}

.p-profile {
  margin-top: 5px !important;
  margin-bottom: 5px !important;  
}
.btn-fixed-width {
  width: 20%;
}
.btn-profile-margins {
  margin: 5px 5px 5px 5px;
}

.btn-float-right {
  float: right;
}

.btn-float-left {
  float: left;
}
.div-profile-25-inline {
  width: 25%;
  display: block;
  margin: auto;
}
.div-profile-50-inline {
  width: 50%;
  display: inline-block;
}

.div-profile-75-inline {
  width: 75%;
  display: inline-block;
}
.profile-text-field-margins {
  margin-bottom: 0px;
  margin-top: 5px;
}

.auto-margin {
  display: block;
  margin: auto;
}

.u-section-1 .u-group-2 {
  width: 56px;
  min-height: 539px;
  margin: -25px auto 0 756px;
}
.weightloadbar {
  position:absolute;
  width: 0%;
  height: 5px;
  top:45px;
  left: 0px;
  background-color: #ff9900;
}
.loadbar {
  position:absolute;
  width: 0%;
  height: 5px;
  top:45px;
  left: 0px;
  background-color: #ff9900;
}

.itemsockets {
  position: absolute;
  width: 56px;
  bottom: 0rem;
  background: rgba(0,0,0,.5);
  padding: 0.125rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemsockets-img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  
}
.itemsocket {
  position: relative;
  display:block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.06125rem;
  margin-left: 0.06125rem;
}
.itemsocket-head2 {
  position: relative;
  display:block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.125rem;
}
.itemsocket-head3 {
  position: relative;
  display:block;
  width: 1rem;
  height: 1rem;
}
.gemskt {
  position: absolute;
  top: 0.12rem;
  left: 0.12rem;
  width: .75rem;
  height: .75rem;
  border-radius: 0.125rem;
  visibility: visible;
}
.gemskt-head-2 {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: .8rem;
  height: .8rem;
  border-radius: 0.125rem;
  visibility: visible;
}
.gemskt-head-3 {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: .8rem;
  height: .8rem;
  border-radius: 0.125rem;
  visibility: visible;
}
.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-7 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-8 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-9 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-group-3 {
  width: 56px;
  min-height: 608px;
  margin: 0px 0 0 43px;
}

.u-section-1 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-11 {
  height: auto;
  margin-bottom: 0;
}

.u-section-1 .u-image-12 {
  height: auto;
  margin-bottom: 0;
}

.u-section-1 .u-image-13 {
  height: auto;
  margin-bottom: 0;
}

.u-section-1 .u-image-14 {
  height: auto;
  margin-bottom: 0;
}

.u-section-1 .u-image-15 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-16 {
  height: auto;
  margin-bottom: 0;
}

.u-section-1 .u-image-17 {
  height: auto;
  margin-bottom: 0;
}

.u-section-1 .u-image-18 {
  height: auto;
  margin-bottom: 0;
}

.gear-images {
  width: 56px !important;
}
.u-section-1 .u-left-gear {
  position: relative;
  width: 50%;
  margin: 0px 0px 0px 0px;
}
.u-section-1 .u-right-gear {
  position: relative;
  width: 50%;
  margin: 0px 0px 0px 0px;
  left: 0rem;
  justify-content: flex-end;
}

.gear-section {
  display: flex;
  position: relative;
  left: 1.6rem;
}
.gear-slot {
  display:flex;
  height: 56px;
  position: relative;
  padding-top: 0px;
  margin-bottom: 13px;
}
.gear-slot-icon {
  width: 56px;
}

.icon-right-align {
  order: 2;
}

.gear-slot-details {
  width: 100%;
  margin-left: 0.625rem;
  position: relative;
  top: -5px;
  overflow: hidden;
  height:115%;
}
.detail-right-align {
  margin-right: 0.625rem;
}
.u-section-1 .item-name {
  font-size: 1rem;
  width: 100%;
  word-wrap: normal;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.u-section-1 .enchant-name {
  font-size: 0.75rem;
  font-style: italic;
  word-wrap: normal;
  margin: 0px 0px 0px 0px;
}
.u-section-1 .meta-req-met {
  font-size: 0.75rem;
  font-style: italic;
  word-wrap: normal;
  margin: 0px 0px 0px 0px;
  color:#1fed03;
}
.u-section-1 .meta-req-fail {
  font-size: 0.75rem;
  font-style: italic;
  word-wrap: normal;
  margin: 0px 0px 0px 0px;
  color:darkgrey;
}
.u-section-1 .attach-name {
  font-size: 0.75rem;
  font-style: italic;
  word-wrap: normal;
  margin: 0px 0px 0px 0px;
}
.dps-result {
  position:relative;
  width: 100%;
  margin: 0px auto 0;
  text-align: center;
}
.dps-min-max {
  position:relative;
  width: 100%;
  margin: 0px auto 0;
  text-align: center;
}
.stat-weight-section {
  display: flex;
  position: relative;
  left: 1.5rem;
  width:100%;
}
.stat-group {
  margin-top: 0.5rem;
}
.stat-totals {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  left: 0rem;
  margin: 11px auto 0;
}
.stat-item-total {
  display:flex;
  position:relative;
  width: 110%;
  left: -2rem;
}
.stat-list {
  position: relative;
  width: 33%;
  padding: 0.525rem;
  background-color: #2e2e33;
  border: 3px solid #000000;
  margin-left: 0.5rem;
}
.stat-item {
  display:flex;
  position:relative;
  width: 15rem;
}
.u-section-1 .stat-name {
  position: relative;
  font-size: 1rem;
  width: 100%;
  word-wrap: normal;
  margin: 0px 0px 0px 0px;
  
}
.u-section-1 .weight-name {
  position: relative;
  font-size: 1rem;
  width: 40%;
  word-wrap: normal;
  margin: 0px 0px 0px 0px;
  justify-content: flex-end;
}
.u-section-1 .stat-total-name {
  position: relative;
  font-size: 1rem;
  width: 60%;
  word-wrap: normal;
  margin: 0px 0px 0px 15px;
  justify-content: flex-end;
}
.u-section-1 .u-text-58 {
  position: relative;
  left: 1.5rem;
  font-weight: 700;
}

.relative-wrapper {
  position: relative;
}
.relative-wrapper-spells {
  position: relative;
  top: 15px;
}

@media (max-width: 100px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 991px;
    margin-right: auto;
    margin-left: -31px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1031px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 87px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 20px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 125px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 28px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 142px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 21px;
    margin-left: 142px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1208px;
  }

  .u-section-1 .u-line-3 {
    width: 743px;
  }

  .u-section-1 .u-line-5 {
    transform-origin: right center 0px;
    top: 846px;
    width: 631px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 74px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 8px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 90px;
    margin-left: 176px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -118px;
    margin-right: 165px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 71px;
    margin-right: 639px;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 639px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -95px;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    margin-left: 649px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
  }

  .u-section-1 .u-image-8 {
    height: NaNpx;
  }

  .u-section-1 .u-image-9 {
    height: NaNpx;
  }

  .u-section-1 .u-group-3 {
    margin-top: -827px;
  }

  .u-section-1 .u-image-10 {
    height: NaNpx;
  }

  .u-section-1 .u-image-11 {
    height: NaNpx;
  }

  .u-section-1 .u-image-12 {
    height: NaNpx;
  }

  .u-section-1 .u-image-13 {
    height: NaNpx;
  }

  .u-section-1 .u-image-14 {
    height: NaNpx;
  }

  .u-section-1 .u-image-15 {
    height: NaNpx;
  }

  .u-section-1 .u-image-16 {
    height: NaNpx;
  }

  .u-section-1 .u-image-17 {
    height: NaNpx;
  }

  .u-section-1 .u-image-18 {
    height: NaNpx;
  }

  
  .u-section-1 .u-text-58 {
    width: auto;
    margin-top: 718px;
    margin-right: 263px;
    margin-left: 309px;
  }

}

@media (max-width: 90px) {
  .u-section-1 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 120px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 120px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 120px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 998px;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
    margin-top: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 97px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 8px;
    margin-left: 94px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -73px;
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 436px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 436px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 484px;
  }

  .u-section-1 .u-text-58 {
    margin-left: 207px;
    margin-right: 161px;
  }

}

@media (max-width: 70px) {
  .u-section-1 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-top: 20px;
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1525px;
  }

}

@media (max-width: 50px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 998px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 236px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-text-58 {
    margin-left: 107px;
    margin-right: 61px;
  }

}

.targetSelectionDiv {
  margin-top: 40px;
}

.targetSelectionDiv label {
  display: inline-block; 
  width: 70px;
}
.targetSelectionDiv select {
  width: 200px;
}

.targetSelectionDiv p {
  margin-top: 5px;
  margin-bottom: 5px;
}
#typeSelect{
  width: 200px;
}
.enchant-text {
  color: #1eff00 !important;
}

.common-text {
  color: #fff !important;
}
.uncommon-text {
  color: #1eff00 !important;
}
.rare-text {
  color: #0070dd !important;
}

.epic-text {
  color: #a335ee !important;
}
.legendary-text {
  color: #ff8000 !important;
}