body {font-family: Arial, Helvetica, sans-serif;}

ul {
    list-style-type: none;
}

.settings {
    color: white;
    display: inline-block;
    vertical-align: top;
    background-color: #252529;
    border: 3px solid #000;
    border-radius: 2px;
    margin: 10px auto;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    width: 380px;
    height: 550px;
}
.settings-gearfilter {
  color: white;
  vertical-align: top;
  background-color: #252529;
  border: 3px solid #000;
  border-radius: 2px;
  margin: 10px auto;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  width: 500px;
  height: 90px;
  top: 0rem;
  left: 0rem;
}
.div-filters {
  width: 100%;
  position: relative;
}
.settings-talents {
  color: white;
  display: inline-block;
  vertical-align: top;
  background-color: #252529;
  border: 3px solid #000;
  border-radius: 2px;
  margin: 10px auto;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  width: 800px;
  height: 100px;
}
.settings-small {
    width: 320px;
}
.settings-fight {
    position:relative;
    top: 5px;
}
.settings-spells {
  position:relative;
  top: 5px;
}
.settings-header-1 {
    position: absolute;
    left: 12px;
    top: 3px;
    font-weight: 700;
    display: inline-block;
    background: #272727;
    width: auto;
    padding: 0 10px;
    font-size: 16px;
}
.settings-header-2 {
    position: absolute;
    left: 12px;
    top: 350px;
    font-weight: 700;
    display: inline-block;
    background: #272727;
    width: auto;
    padding: 0 10px;
    font-size: 16px;
}
.settings-consumes {
    top: 0px;
    height: 328px;
}
.settings-petconsumes {
    position:relative;
    height: 150px;
}
.header-1 {
    color: white;
    vertical-align: middle;
}
.label-1 {
    position: relative;
    font-weight: 600;
    color: white;
    line-height: 18px;
    font-size: 12px;

}
.label-2 {
  display: inline-block; 
  width: 135px;
  left: -10px;
  position: relative;
  text-align: right;
  color: white;
  font-size: 14px;

}
.label-3 {
  display: inline-block; 
  width: 200px;
  left: -10px;
  position: relative;
  color: white;
  font-size: 14px;

}
.label-4 {
  display: inline-block; 
  width: 180px;
  left: -15px;
  position: relative;
  text-align: left;
  color: white;
  font-size: 14px;

}
.label-5 {
  display: inline-block; 
  width: 80px;
  left: -15px;
  position: relative;
  text-align: left;
  color: white;
  font-size: 14px;

}
.label-6 {
  display: inline-block; 
  width: 184px;
  left: -15px;
  position: relative;
  text-align: left;
  color: white;
  font-size: 14px;

}
.label-7 {
  position: relative;
  color: white;
  font-size: 14px;
  line-height: 12px;

}
.label-8 {
  display: inline-block; 
  width: 100px;
  left: -15px;
  position: relative;
  text-align: left;
  color: white;
  font-size: 14px;

}
.label-9 {
  position: relative;
  display: inline-block;
  color: white;
  top: 0px;
  left: 2%;
  vertical-align: center;
  font-size: 12px;
}
.label-filter {
  position: relative;
  text-align: middle;
  font-weight: 600;
  top: -5px;
  left: 35%;
}
/* settings modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow-y: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.2); 

}
/* settings Modal Content */
.modal-content {
  position:absolute;
  left: 35%;
  background-color: #2e2e33;
  margin: auto;
  padding: 20px;
  border: 4px solid #2e2e33;
  width: 65%;
  height: 2000px;
}

/* settings modal */
.modal-log {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow-y: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.2); 

}
/* log Modal Content */
.modal-log-content {
  position:absolute;
  left: 35%;
  background-color: #2e2e33;
  margin: auto;
  padding: 20px;
  border: 4px solid #2e2e33;
  width: 65%;
  height: auto;
}
.modal-gear {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow-y: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.2); 

}
/* gear Modal Content */
.modal-gear-content {
  position:absolute;
  left: 15%;
  background-color: #1e1e22;
  top: 10%;
  margin: auto;
  padding: 10px;
  width: 70%;
  height: auto;
}
.modal-import {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow-y: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.2); 

}
/* import Modal Content */
.modal-import-content {
  position:absolute;
  left: 35%;
  background-color: #1e1e22;
  top: 40%;
  margin: auto;
  padding: 20px;
  border: 4px solid #2e2e33;
  width: 600px;
  height: 300px;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
    padding-left: 0px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 99%;
    position: relative;
    top: 15px;
    left: 5px;
    display: inline-block;
    vertical-align: middle;

  }
  .container-1 {
      background-color: #2e2e33;
  }
  .container-2 {
      background-color: #252529;
  }
  .container-3 {
    padding-left: 0;
    padding-right: 4.5%;
    margin-bottom: 0px;
    margin-left: 15px;
    position: relative;
    top: -5px;
    text-align: right;
    vertical-align: middle;
    width: 15%;
  }

  .container-adjust-top {
      top: 0px;
    }
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 4px;
    left: 90%;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #979797;
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #f1c232;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 8px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 
  .number-input {
    position: relative;
    vertical-align: right;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 14px;
    /* Personalize */
    width: 90px;
  
    padding: 0px 0px 0px 10px;
    background-color: #2e2e33;
    color: #f1c232;
    border-radius: 1px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .hover-grey:hover {
    background-color:#555555;
  
  }
/* <select> styles */
.select {
    /* Reset */
    position: relative;
    vertical-align: right;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 14px;
    /* Personalize */
    width: 90px;
    height: 25px;
    padding: 0px 0px 0px 10px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
        no-repeat right 5px center / 10px,
      #2e2e33;
    color: #f1c232;
    border-radius: 1px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
.import-select-input {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 18px;
  height: 30px;
  width: 435px;
}
.gear-select-input {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 300px;
}
.fight-setting-input-1 {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 200px;
}
.fight-setting-input-2 {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100px;
}
.fight-setting-input-3 {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100px;
  left: 4px;
}
.debuff-setting-input-1 {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 60px;
  left: -5px;
}
.setting-input-1 {
  left: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 550px;
}
.select-wide {
  /* Reset */
  width: 120px;
  left: 3px;
  z-index: 1;
}
.select-1 {
  float: right;
  right: 40px;
  z-index: 1;
  }
.select-2 {
  float: right;
  right: 40px;
  z-index: 1;
}
.select-3 {
  position: absolute;
  top: -12px;
  height: 48px;
  float: right;
  right: 38px;
  z-index: 1;
}
.select-4 {
  float: right;
  right: 40px;
  z-index: 1;
}
.select-5 {
  /* Reset */
  float: right;
  right: 40px;
  z-index: 1;
}
.select-6 {
  float: right;
  right: 40px;
  z-index: 1;
}
.select-7 {
    /* Reset */
    float: right;
  right: 40px;
  z-index: 1;

}
.select-8 {
  /* Reset */
  float: right;
  right: 40px;
  z-index: 1;
}
.select-imp-auras-2 {
  /* Reset */
  left: -7px;
  z-index: 1;
}

.select-imp-auras {
  top: -26px;
  left: 100px;
  position: absolute;
  z-index: 1;
}

.select-10 {
  /* Reset */
  float: right;
  right: 40px;
  z-index: 1;
}
.select-relative {
    position: relative;
    left: 0px;
    width: 250px;
    font-size: 14px;
    font-weight: 600;
}
.select-relative-2 {
  position: relative;
  left: 10px;
  width: 500px;
  font-size: 14px;
  font-weight: 600;
}

.settings-image-buffs {
  position: absolute;
  left: -22px;
  top: 16px;
  width: 22px;
  height: auto;
}

.settings-image-auras {
  position: relative;
  left: -20px;
  top: 6px;
  width: 22px;
  height: auto;
}

.cache-button {
  border-style: solid;
  border-width: 2px !important;
}
.spells-image {
  position: absolute;
  left: -22px;
  top: 0px;
  width: 22px;
  height: auto;
}

.spell-option-1 {
  position: absolute;
  left: 250px;
  text-align: center;
  top: -10px;
}
.spell-option-2 {
  position: absolute;
  left: 165px;
  text-align: center;
  top: -10px;
}

.spells-input {
  position: absolute;
  left: 72%;
  top: 0px;
  width: 50px;
  text-align: center;
}

.spells-input-1 {
  top: 1.05rem;
}
.spells-input-2 {
  top: 2.8rem;
}
.spells-input-3 {
  top: 4.6rem;
}
.spells-input-4 {
  top: 6.4rem;
}
.spells-input-5 {
  top: 8.2rem;
}
.spells-input-6 {
  top: 10rem;
}
.spells-input-7 {
  top: 11.8rem;
}
.spells-input-8 {
  top: 15.8rem;
}
.spells-input-9 {
  top: 19.50rem;
}

.select-spell-option-1 {
  /* Reset */
  width: 95px;
  left: 20%;
  z-index: 1;
}

.select-spell-option-2 {
  /* Reset */
  width: 95px;
  left: 25.2%;
  z-index: 1;
}

.select-spell-option-3 {
  /* Reset */
  width: 95px;
  left: 9.4%;
  z-index: 1;
}

.select-spell-option-4 {
  /* Reset */
  width: 95px;
  left: 4.5%;
  z-index: 1;
}

.spell-label-1 {
  display: inline-block; 
  width: 134px;
  left: -10px;
  top: 13px;
  margin-bottom: 10px;
  position: relative;
  text-align: left;
  color: white;
  font-size: 14px;

}

.select-spell-option-5 {
  top: 13px;
  width: 155px;
}

.select-filters {
  position: absolute;
  top: 55px;
  left: 67%;
  width: 120px;
}

.item-selector {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  background-color: #000;
  width: 100%;
  height: 4.5rem;
}

/* Style the buttons inside the tab */
.item-selector button {
  background: transparent;
  position: relative;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s;
  font-size: 18px;
  height: 4.5rem;
  width: 4rem;
}

/* Change background color of buttons on hover */
.item-selector button:hover {
  background-color: rgb(43, 43, 43);
}

/* Create an active/current tablink class */
.item-selector button.active {

  border-bottom: 3px solid #21b641;
}

.filterchecks-1 {
  position: relative;
  top: -10px;
  color:rgb(255, 255, 255);
  width: 50px;
  padding-right: 2%;
  display:inline-block;
}
.filterchecks-2 {
  position: relative;
  top: -10px;
  color:rgb(255, 255, 255);
  width: 50px;
  padding-right: 2%;
  display:inline-block;
}

.geartab-content {
  overflow-y: auto;
  height: 500px;
}

.geartab-content thead th {
  position: sticky;
  top: 0px;
  background-color: #1e1e22;
}

.gear-img-selector {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2.0rem;
  border-radius: 0.125rem;
}
.item-selector-list {
  margin-right : 0.4rem;
  height: 4.5rem;
}

.gem-selector {
  position:absolute;
  width: 1.5rem;
  top: 1.25rem;
  left: 1.2rem;
  border-radius: 0.125rem;
}

.selector-skt {
  top: 1rem;
  left: 1rem;
  position: absolute;
  width: 2.0rem;
  border-radius: 0.125rem;
}

.altrow {
  background-color:#19191b;
  cursor: pointer;
}

.altrow:hover {
  background-color:#0c0c0e;
}

.baserow:hover {
  background-color:#0c0c0e;
}

.baserow {
  background-color:#1e1e22;
  cursor: pointer;
}

.highlight-img-td {
  padding: 0.375rem;
}

.norm-img-td {
  padding: 0.5rem;
}

.highlight-border {
  border: 0.125rem solid rgb(30, 255, 0);
}

.sktrecommend {
  color: rgb(30, 255, 0);
  position: relative;
  top: 0;
  left: 0;
}

.searchfield {
  color: rgb(255, 255, 255);
  height: 2.5rem;
  width: 100%;
  font-size: 0.875rem;
  background: rgb(43, 46, 51);
  border-radius: 0.3125rem;
  padding: 0px 0.9375rem;
  outline: none;
  border-width: 0.125rem;
  border-style: solid;
  border-color: transparent;
}

.removebtn {
  height: 1.5625rem;
  line-height: 1.5rem;
  font-size: 0.75rem;
  padding: 0px 1.25rem;
  color: rgb(255, 255, 255);
  background: rgb(49, 49, 54);
  position: absolute;
  left: 80%;
  top: 23%;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.3125rem;
  outline: none;
}
.removebtn:hover {
  border-color: white;
}
.removebtn span {
  line-height: 1.5rem;
  font-size: 0.75rem;
  color: rgb(255, 255, 255);
  text-transform: none;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;

}