h1 {
  color: white;
  background-color: #252529;
  border: 2px solid black;
  text-align: center;
}
p {
  color: #f1c232;
}
body {
  margin: 60px auto; 
  width: 70%; 
  background-color: #2e2e33; 
  color: white;
}

a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }
.sidebar{min-width:320px;min-height:600px;width:20%;height:100vh;background:#171717;border-right:2px solid #727272;box-sizing:border-box;position:fixed;left:0;top:0}
.sidebar .bg{background-position:top;background-repeat:no-repeat;background-size:80% auto;position:absolute;left:0;top:380px;width:100%;height:100%;opacity:.1;pointer-events:none}
.sidebar .character{padding:20px 0}
.sidebar .character>p{text-align:center;font-size:14px;font-weight:700;margin:4px 0;text-shadow:1px 1px #00008b}
.sidebar ul{list-style:none;margin:20px auto;padding:0;width:80%}
.sidebar li{border-bottom:1px solid hsla(0,0%,87%,.4);padding:7px 10px;overflow:hidden;font-size:12px}
.sidebar li:first-child{padding-top:0}
.sidebar li:last-child{border:0}
.sidebar li span{float:right}
.sidebar li small{font-size:10px;color:hsla(0,0%,100%,.5)}
