.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1238px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1238px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  height: 429px;
  margin-top: 141px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 173px;
  margin: -417px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 5px 124px 0 0;
}

.u-section-1 .u-shape-2 {
  height: 230px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1238px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-line-1 {
  height: 84px;
  left: 167px;
  top: 44px;
  transform-origin: center bottom 0px;
  position: absolute;
  width: 3px;
}

.u-section-1 .u-text-3 {
  margin: 87px 668px 0 23px;
}

.u-section-1 .u-image-1 {
  width: 60px;
  height: 60px;
  margin: -60px auto 0 150px;
}

.u-section-1 .u-text-4 {
  margin: -60px 668px 0 23px;
}

.u-section-1 .u-text-5 {
  margin: -13px 124px 0 221px;
}

.u-section-1 .u-shape-3 {
  height: 677px;
  margin: 44px 0 0;
}

.u-section-1 .u-text-6 {
  margin: -642px 398px 0 82px;
}

.u-section-1 .u-group-1 {
  width: 56px;
  min-height: 539px;
  margin: -25px auto 0 726px;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-7 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-8 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-9 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 56px;
  min-height: 608px;
  margin: -539px auto 0 13px;
}

.u-section-1 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-11 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-12 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-13 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-14 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-15 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-16 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-17 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-image-18 {
  height: auto;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  margin: -538px 398px 0 82px;
}

.u-section-1 .u-text-8 {
  margin: 42px 398px 0 82px;
}

.u-section-1 .u-text-9 {
  margin: 45px 398px 0 82px;
}

.u-section-1 .u-text-10 {
  margin: 42px 398px 0 82px;
}

.u-section-1 .u-text-11 {
  margin: 42px 398px 0 82px;
}

.u-section-1 .u-text-12 {
  margin: 45px 398px 0 82px;
}

.u-section-1 .u-text-13 {
  margin: 45px 398px 0 82px;
}

.u-section-1 .u-text-14 {
  margin: 42px 398px 0 82px;
}

.u-section-1 .u-text-15 {
  margin: -575px 82px 0 398px;
}

.u-section-1 .u-text-16 {
  margin: 45px 82px 0 398px;
}

.u-section-1 .u-text-17 {
  margin: 42px 82px 0 398px;
}

.u-section-1 .u-text-18 {
  margin: 45px 82px 0 398px;
}

.u-section-1 .u-text-19 {
  margin: 42px 83px 0 398px;
}

.u-section-1 .u-text-20 {
  margin: 42px 83px 0 398px;
}

.u-section-1 .u-text-21 {
  margin: 45px 83px 0 398px;
}

.u-section-1 .u-text-22 {
  margin: 45px 83px 0 398px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 74px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1275px;
  }

  .u-section-1 .u-line-1 {
    width: 636px;
    right: 147px;
    margin: 49px auto 0 9px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 7px;
    margin-right: 541px;
    margin-left: 82px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -79px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 541px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -14px;
    margin-left: 146px;
    margin-right: 49px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-top: -643px;
    margin-right: 327px;
    margin-left: 4px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 586px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
  }

  .u-section-1 .u-image-8 {
    height: NaNpx;
  }

  .u-section-1 .u-image-9 {
    height: NaNpx;
  }

  .u-section-1 .u-group-2 {
    margin-left: 10px;
  }

  .u-section-1 .u-image-10 {
    height: NaNpx;
  }

  .u-section-1 .u-image-11 {
    height: NaNpx;
  }

  .u-section-1 .u-image-12 {
    height: NaNpx;
  }

  .u-section-1 .u-image-13 {
    height: NaNpx;
  }

  .u-section-1 .u-image-14 {
    height: NaNpx;
  }

  .u-section-1 .u-image-15 {
    height: NaNpx;
  }

  .u-section-1 .u-image-16 {
    height: NaNpx;
  }

  .u-section-1 .u-image-17 {
    height: NaNpx;
  }

  .u-section-1 .u-image-18 {
    height: NaNpx;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 11px;
    margin-left: 320px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 11px;
    margin-left: 320px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 11px;
    margin-left: 320px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 11px;
    margin-left: 320px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 12px;
    margin-left: 320px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 12px;
    margin-left: 320px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 11px;
    margin-left: 320px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 11px;
    margin-left: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 696px;
  }

  .u-section-1 .u-line-1 {
    width: 480px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 376px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 376px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 376px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 165px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-left: 424px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 165px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 165px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 165px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 165px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 1px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 1px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 165px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1169px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 819px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 145px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -421px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1112px;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 176px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-right: 176px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 176px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 82px;
    margin-right: 176px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }
}